.address {
  position: relative;
  background: #1F1F1F;
  padding-top: 48px;
  padding-bottom: 18px; }
  .address .row {
    max-width: 900px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .address .row_address, .address .row_phone, .address .row_email {
      text-align: center;
      margin: 0 20px; }
      .address .row_address h3, .address .row_phone h3, .address .row_email h3 {
        font: 14px/24px 'montserrat-bold', sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 6px; }
      .address .row_address p, .address .row_phone p, .address .row_email p {
        line-height: 30px;
        font-family: 'montserrat-regular', sans-serif;
        font-size: 14px;
        color: #6C6C6C;
        margin: 0 0 30px 0; }
  .address .map-responsive {
    position: relative;
    overflow: hidden; }
  .address .finish {
    position: relative;
    max-width: 1008px;
    margin: 0 auto;
    text-align: center;
    font: 14px/24px 'montserrat-regular', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #303030; }
    .address .finish span, .address .finish p {
      display: inline-block; }
    .address .finish span:after {
      content: "\2022";
      padding-left: 6px;
      padding-right: 10px;
      color: #1B6728; }
    .address .finish p a {
      color: #525252; }
  .address #go-top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center; }
    .address #go-top a {
      text-decoration: none;
      border: 0 none;
      display: block;
      width: 48px;
      height: 48px;
      background-color: #303030;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #fff;
      font-size: 16px;
      line-height: 48px;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .address #go-top a:hover {
        background: #0F3C17; }

@media screen and (max-width: 770px) {
  .address .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
